@model IEnumerable<Domain.Tools>

@{
    ViewBag.Title = "Tools";
}

<h2>Tools</h2>

<p>
    @Html.ActionLink("Create New", "ShowCreate", null, new { @class = "btn btn-success"})
</p>
<table class="table table-striped table-bordered" style="border-radius: 5px; overflow: hidden; border-collapse: separate; border-spacing: 0; border: 1px solid #ddd;">
    <thead style="background-color: #f8f9fa; border-radius: 10px 10px 0 0; overflow: hidden;">
        <tr>
            <th style="border: 1px solid #ddd;">@Html.DisplayNameFor(model => model.First().IdTool)</th>
            <th style="border: 1px solid #ddd;">@Html.DisplayNameFor(model => model.First().BoschCode)</th>
            <th style="border: 1px solid #ddd;">@Html.DisplayNameFor(model => model.First().Description)</th>
            <th style="border: 1px solid #ddd;">@Html.DisplayNameFor(model => model.First().PrimarySupplier)</th>
            <th style="border: 1px solid #ddd;">@Html.DisplayNameFor(model => model.First().SecondarySupplier)</th>
            <th style="border: 1px solid #ddd;">@Html.DisplayNameFor(model => model.First().PrimarySharpener)</th>
            <th style="border: 1px solid #ddd;">@Html.DisplayNameFor(model => model.First().SecondarySharpener)</th>
            <th style="border: 1px solid #ddd;">@Html.DisplayNameFor(model => model.First().Quantity)</th>
            <th style="border: 1px solid #ddd;">@Html.DisplayNameFor(model => model.First().TurretCode)</th>
            <th style="border: 1px solid #ddd;">@Html.DisplayNameFor(model => model.First().ToolType)</th>
            <th style="border: 1px solid #ddd;">@Html.DisplayNameFor(model => model.First().Machine)</th>
            <th style="border: 1px solid #ddd;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="border: 1px solid #ddd;">@Html.DisplayFor(modelItem => item.IdTool)</td>
                <td style="border: 1px solid #ddd;">@Html.DisplayFor(modelItem => item.BoschCode)</td>
                <td style="border: 1px solid #ddd;">@Html.DisplayFor(modelItem => item.Description)</td>
                <td style="border: 1px solid #ddd;">@Html.DisplayFor(modelItem => item.PrimarySupplier)</td>
                <td style="border: 1px solid #ddd;">@Html.DisplayFor(modelItem => item.SecondarySupplier)</td>
                <td style="border: 1px solid #ddd;">@Html.DisplayFor(modelItem => item.PrimarySharpener)</td>
                <td style="border: 1px solid #ddd;">@Html.DisplayFor(modelItem => item.SecondarySharpener)</td>
                <td style="border: 1px solid #ddd;">@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td style="border: 1px solid #ddd;">@Html.DisplayFor(modelItem => item.TurretCode)</td>
                <td style="border: 1px solid #ddd;">@Html.DisplayFor(modelItem => item.ToolType)</td>
                <td style="border: 1px solid #ddd;">@Html.DisplayFor(modelItem => item.Machine)</td>
                <td style="border: 1px solid #ddd;">
                    <div class="d-flex flex-column">
                        <a href="@Url.Action("ShowEdit", "Tools", new { id = item.IdTool })" class="btn btn-success btn-sm mb-2">Edit</a>
                        <a href="@Url.Action("Details", "Tools", new { id = item.IdTool })" class="btn btn-success btn-sm mb-2">Details</a>
                        <a href="@Url.Action("ShowDelete", "Tools", new { id = item.IdTool })" class="btn btn-success btn-sm">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
